<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styleAdmin.css">
    <title>Painel Administrativo</title>
</head>
<body>
<div class="container mobile">
    <div class="row">
        <div class="col-md-1 col-md-offset-4"><a href="/" title="Pagina Inicial"><span class="glyphicon glyphicon-home" style="padding: 45px 0 0 45px;"></span></a></div>
        <div class="col-md-2">
            <div class="col-md-12"><img src="http://www.inforyou.com.pl/img/team/03.jpg" alt="" title="" style="width: 100px;height: 100px;border-radius: 50%;border: 4px solid #f2f2f2;margin-left: 20px;margin-top: 5px;"></div>
        </div>
        <div class="col-md-1"><span class="glyphicon glyphicon-log-out" style="padding: 45px 0 0 0;"></span></div>
    </div>
</div>
<div class="menu-mobile">
    <div class="container">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <div class="submenu-mobile">
        <a href="/">Pagina inicial</a>
        <a href="/login/output">Sair</a>
    </div>
</div>
<div class="container">
    <div class="col-sm-12">
        <div class="col-md-8 col-md-offset-2 padding">
            <select name="" id="" class="form-control">
                <option value="">Todos Órgãos</option>
                <option value="">Administração</option>
                <option value="">Educação</option>
                <option value="">Infraestrutura</option>
                <option value="">Saúde</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-6">
        <div class="bs-calltoaction bs-calltoaction-default">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Painel</h1>
                    <div class="cta-desc">
                        <p><strong>0</strong> Todas Pendencias</p>
                        <p><strong>0</strong> Todos Resolvidos</p>
                        <p><strong>0</strong> Todas Mensagens</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-default" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon glyphicon-th"></span></a>
                </div>
            </div>
        </div>
            </div>
            <div class="col-md-6">
        <div class="bs-calltoaction bs-calltoaction-primary">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Sugestão</h1>
                    <div class="cta-desc">
                        <p><strong>0</strong> Pendente</p>
                        <p><strong>0</strong> Resolvido</p>
                        <p><strong>0</strong> Mensagens</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-primary" data-toggle="tooltip" data-placement="top" title="Notificacão"><span class="glyphicon glyphicon-globe"></span></a>
                </div>
            </div>
        </div>
            </div>
            <div class="col-md-6">
        <div class="bs-calltoaction bs-calltoaction-info">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Elogio</h1>
                    <div class="cta-desc">
                        <p><strong>0</strong> Pendente</p>
                        <p><strong>0</strong> Resolvido</p>
                        <p><strong>0</strong> Mensagens</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-info" data-toggle="tooltip" data-placement="top" title="Notificacão"><span class="glyphicon glyphicon-globe"></span></a>
                </div>
            </div>
        </div>
</div>
            <div class="col-md-6">
        <div class="bs-calltoaction bs-calltoaction-success">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Solicitação</h1>
                    <div class="cta-desc">
                        <p><strong>0</strong> Pendente</p>
                        <p><strong>0</strong> Resolvido</p>
                        <p><strong>0</strong> Mensagens</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-success" data-toggle="tooltip" data-placement="top" title="Notificacão"><span class="glyphicon glyphicon-globe"></span></a>
                </div>
            </div>
        </div>
</div>
            <div class="col-md-6">
        <div class="bs-calltoaction bs-calltoaction-warning">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Reclamação</h1>
                    <div class="cta-desc">
                        <p><strong>0</strong> Pendente</p>
                        <p><strong>0</strong> Resolvido</p>
                        <p><strong>0</strong> Mensagens</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-warning" data-toggle="tooltip" data-placement="top" title="Notificacão"><span class="glyphicon glyphicon-globe"></span></a>
                </div>
            </div>
        </div>
                </div>
            <div class="col-md-6">

        <div class="bs-calltoaction bs-calltoaction-danger">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Denúncia</h1>
                    <div class="cta-desc">
                        <p><strong>0</strong> Pendente</p>
                        <p><strong>0</strong> Resolvido</p>
                        <p><strong>0</strong> Mensagens</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="/admin/category/denuncia" class="btn btn-lg btn-block btn-danger" data-toggle="tooltip" data-placement="top" title="Notificacão"><span class="glyphicon glyphicon-globe"></span></a>
                </div>
            </div>
        </div>
                </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $('.glyphicon-menu-hamburger').on('click', function () {
        $('.submenu-mobile').toggle();
    })

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>