<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styleAdmin.css">
    <title>Painel Administrativo</title>
</head>
<body>
<div class="container mobile">
    <div class="row">
        <div class="col-md-1 col-md-offset-4"><a href="/" title="Pagina Inicial"><span class="glyphicon glyphicon-home" style="padding: 45px 0 0 45px;"></span></a></div>
        <div class="col-md-2">
            <div class="col-md-12"><img src="http://www.inforyou.com.pl/img/team/03.jpg" alt="" title="" style="width: 100px;height: 100px;border-radius: 50%;border: 4px solid #f2f2f2;margin-left: 20px;margin-top: 5px;"></div>
        </div>
        <div class="col-md-1"><a href="/login/loguot" title="Sair"><span class="glyphicon glyphicon-log-out" style="padding: 45px 0 0 0;"></span></a></div>
    </div>
</div>
<div class="menu-mobile">
    <div class="container">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <div class="submenu-mobile">
        <a href="/">Pagina inicial</a>
        <a href="/login/loguot">Sair</a>
    </div>
</div>
<div class="container" ng-controller="AppCtrl">
    <div class="col-sm-12">
        <div class="col-md-8 col-md-offset-2 padding">
            <select name="" id="" class="form-control">
                <option value="">Todos Órgãos</option>
                <option value="[[ collection.key ]]" ng-repeat="collection in collections">[[ collection.name ]]</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-6">
        <div class="bs-calltoaction bs-calltoaction-default">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Painel</h1>
                    <div class="cta-desc">
                        <p><strong>[[ sugestao.pendente + reclamcao.pendente + elogio.pendente + solicitacao.pendente + denuncia.pendente ]]</strong> Todas Pendencias</p>
                        <p><strong>[[ sugestao.resolvido + reclamcao.resolvido + elogio.resolvido + solicitacao.resolvido + denuncia.resolvido ]]</strong> Todos Resolvidos</p>
                        <p><strong>[[ sugestao.mensagem + reclamcao.mensagem + elogio.mensagem + solicitacao.mensagem + denuncia.mensagem ]]</strong> Todas Mensagens</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-default" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon glyphicon-th"></span></a>
                </div>
            </div>
        </div>
            </div>
            <div class="col-md-6">
        <div class="bs-calltoaction bs-calltoaction-primary">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Sugestão</h1>
                    <div class="cta-desc">
                        <p><strong>[[ sugestao.pendente ]]</strong> Pendente</p>
                        <p><strong>[[ sugestao.resolvido ]]</strong> Resolvido</p>
                        <p><strong>[[ sugestao.mensagem ]]</strong> Mensagens</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-primary" data-toggle="tooltip" data-placement="top" title="Notificacão"><span class="glyphicon glyphicon-globe"></span></a>
                </div>
            </div>
        </div>
            </div>
            <div class="col-md-6">
        <div class="bs-calltoaction bs-calltoaction-info">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Elogio</h1>
                    <div class="cta-desc">
                        <p><strong>[[ elogio.pendente ]]</strong> Pendente</p>
                        <p><strong>[[ elogio.resolvido ]]</strong> Resolvido</p>
                        <p><strong>[[ elogio.mensagem ]]</strong> Mensagens</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-info" data-toggle="tooltip" data-placement="top" title="Notificacão"><span class="glyphicon glyphicon-globe"></span></a>
                </div>
            </div>
        </div>
</div>
            <div class="col-md-6">
        <div class="bs-calltoaction bs-calltoaction-success">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Solicitação</h1>
                    <div class="cta-desc">
                        <p><strong>[[ solicitacao.pendente ]]</strong> Pendente</p>
                        <p><strong>[[ solicitacao.resolvido ]]</strong> Resolvido</p>
                        <p><strong>[[ solicitacao.mensagem ]]</strong> Mensagens</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-success" data-toggle="tooltip" data-placement="top" title="Notificacão"><span class="glyphicon glyphicon-globe"></span></a>
                </div>
            </div>
        </div>
</div>
            <div class="col-md-6">
        <div class="bs-calltoaction bs-calltoaction-warning">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Reclamação</h1>
                    <div class="cta-desc">
                        <p><strong>[[ reclamcao.pendente ]]</strong> Pendente</p>
                        <p><strong>[[ reclamcao.resolvido ]]</strong> Resolvido</p>
                        <p><strong>[[ reclamcao.mensagem ]]</strong> Mensagens</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-warning" data-toggle="tooltip" data-placement="top" title="Notificacão"><span class="glyphicon glyphicon-globe"></span></a>
                </div>
            </div>
        </div>
                </div>
            <div class="col-md-6">

        <div class="bs-calltoaction bs-calltoaction-danger">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Denúncia</h1>
                    <div class="cta-desc">
                        <p><strong>[[ denuncia.pendente ]]</strong> Pendente</p>
                        <p><strong>[[ denuncia.resolvido ]]</strong> Resolvido</p>
                        <p><strong>[[ denuncia.mensagem ]]</strong> Mensagens</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="/admin/category/denuncia" class="btn btn-lg btn-block btn-danger" data-toggle="tooltip" data-placement="top" title="Notificacão"><span class="glyphicon glyphicon-globe"></span></a>
                </div>
            </div>
        </div>
                </div>
        </div>
    </div>
</div>
<div ng-controller="PanelCtrl">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Painel Administrativo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-md-4">
                        <div>
                            <label for="">Órgãos</label>
                            <input type="text" class="form-control" placeholder="Filtrar" ng-model="sear">
                        </div>
                        <div class="padding">
                            <ul class="list-group">
                                <li class="list-group-item" ng-if="(collections.length > 0)" ng-repeat="collection in collections | filter:sear">
                                    <span class="badge delete"><span class="glyphicon glyphicon-trash"></span></span>
                                    [[ collection.name ]]
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-md-4">
                        <div>
                            <label for="">Usuarios</label>
                            <input type="text" class="form-control" placeholder="Filtrar" ng-model="search">
                        </div>
                        <div class="padding">
                            <ul class="list-group">
                                <li class="list-group-item" ng-if="(users.length > 0)" ng-repeat="user in users | filter:search">
                                    <span class="badge delete" ng-click="remove(user.key)"><span class="glyphicon glyphicon-trash"></span></span>
                                    [[ user.name ]]
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-md-4">
                        <div>
                            <label for="acao">Ação</label>
                            <div class="padding">
                                <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#new" ng-click="newTitle('Orgão',false)">Novo Órgão</button>
                            </div>
                            <div class="padding">
                                <button class="btn btn-success btn-block" data-toggle="modal" data-target="#new" ng-click="newTitle('Usuario',true)">Novo Usuario</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="AddCtrl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Novo [[ title ]]</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-md-8 col-md-offset-2">
                        <div class="alert alert-success" ng-if="(success)">Novo [[ title ]] Salvo</div>
                        <div class="alert alert-danger" ng-if="(error)">Erro ao Salvar Novo [[ title ]]</div>
                        <div class="form-group">
                            <label for="Name">Nome do [[ title ]]</label>
                            <input type="text" class="form-control" ng-model="data.name" autofocus>
                            <div ng-if="!(ativo)">
                                <label for="Email">Icone do [[ title ]]</label>
                                <input type="text" class="form-control" ng-model="data.icone">
                            </div>
                            <div ng-if="ativo">
                                <label for="Email">Email do [[ title ]]</label>
                                <input type="email" class="form-control" ng-model="data.email">
                                <div ng-if="!(success)">
                                    <label for="Password">Senha do [[ title ]]</label>
                                    <input type="password" class="form-control" ng-model="data.password">
                                    <label for="Password">Confirmar Senha do [[ title ]] - <span class="txt-danger" ng-if="( confirmar != data.password )">Erro</span><span class="txt-success" ng-if="( confirmar == data.password )">Confirmado</span></label>
                                    <input type="password" class="form-control" ng-class="{'border-error': ( confirmar != data.password ),'border-success': ( confirmar == data.password )}" ng-model="confirmar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="saveData(data, ativo)">Adicionar</button>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="/assets/js/app.js"></script>
<script>
    $('.glyphicon-menu-hamburger').on('click', function () {
        $('.submenu-mobile').toggle();
    })

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>