<!DOCTYPE HTML>
<!--
	Highlights by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Milagres do Maranhão | E-Ouv | Log In</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
	</head>
	<body>
	<a href="/" style="position: fixed;z-index: 99999;right: 25px;top: 25px;color:#fff;"><i class="fa fa-home fa-2x"></i></a>
		<!-- Footer -->
			<section id="footer">
				<div class="container">
					<header class="major">
						<h2>MM - Administrador</h2>
					</header>
					<form method="post" action="/login/input">
						<div class="row uniform">
							<div class="12u$"><input type="email" name="email" id="email" placeholder="Email" /></div>
							<div class="12u$"><input type="password" name="password" id="password" placeholder="Senha" /></div>
							<div>
								<a href="#">Esqueci minha senha</a>
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><input type="submit" value="Entre" class="special" /></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
				<footer>
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Jacson Santos</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Milagres do Maranhão</li>
					</ul>
				</footer>
			</section>
			<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>
			{#<script src="/assets/js/form.js"></script>#}
	</body>
</html>